@model FitnessFrog.Core.Domain.Exercise

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExerciseType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExerciseType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExerciseName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExerciseName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModificationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModificationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reps)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sets)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sets)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnitType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExerciseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
